@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<h1>Hello,nice to see you!!</h1>
<h1>Hi,@ViewBag.GreetingMsg</h1>
<a href="/Convertor/Index">Go To Convertor</a>
<a href="/Employee/getall">Go To Employee</a>