@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<h2>Create</h2>
<form action="/City/Create" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" class="form-control" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" class="form-control" /></td>
        </tr>
    </table>
</form>

