@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        What you'll learn
        Razor Pages are an approachable new toolset in .NET Core for building dynamic web pages. In this course, Razor Pages in ASP.NET Core: Getting Started, you’ll learn how to use this set of features to build dynamic markup and layouts and work with smarter forms. First, you'll learn how to process incoming HTTP requests. Then, you'll explore configuring design patterns and core framework components, and even deploy your site out to the web. Finally, you'll learn to master Razor syntax and helpers to render pages that suit your needs. By the end of this course, you’ll feel comfortable building your own sites with Razor Pages, and exploring more advanced .NET Core topics on your own.
    </div>
</body>
</html>
